.study-list-container
  .status-select
    height: 40px
    margin: 0 5px 20px 5px
    padding-left: 0px
    cursor: pointer
    border: none
    background-color: var(--input-background-color)
    color: var(--input-placeholder-color)
    font-size: 10pt
    font-weight: normal
    border-radius: 4px
    width: calc(100% - 10px); /* Just use padding? */
    transition(all 0.15s ease)
    placeholder-color(var(--input-placeholder-color))