.rapid-comment-form
  label
    display: block
    margin-bottom: 1rem
    span
      color: var(--text-secondary-color)
      font-size: 14px
      font-weight: 700

    input[type="text"]:disabled
      background: #dddddd

    .rapid-comment-input
      width: 100%
      box-sizing: border-box
      -webkit-appearance: none

    .rapid-comment-input:focus 
      border-color: cornflowerblue
      outline: none

    .rapid-comment-input.has-error
      border-color: var(--snackbar-error)

    .rapid-error
      margin: 0
      color: var(--snackbar-error)

    textarea
      height: 10rem
